@import "../bootstrap/bootstrap";

/************** COLORS **************/

$main-content-bg-color : #f3f3f3;


$nav-font-color: #d8d8d8;
$nav-bg-color: #62727b;

/************** LAYOUT **************/

html, body {
  background-color: $main-content-bg-color;
}

.flex-full-height {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row-main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

/************** HEADER **************/
header {
  color: $nav-font-color;
  background-color: $nav-bg-color;
}

.row-header {
  height:50px;
  padding: 10px;
}

/************** SIDEBAR **************/

nav {
  color: $nav-font-color;
  background-color: $nav-bg-color;
  max-width: 250px;
  width: 250px;
  order:1;
}

/************** MAIN CONTENT **************/

main {
  flex-grow: 1;
  background-color: $main-content-bg-color;
  order:2;
  padding: 10px;
}

/************** STUFF **************/

